body {
	background-color: #999999;
}
.outer_container {
	width:200px;
	margin-right: auto; 
	margin-left: auto;
}

.rounded_frame {
	border:2px solid green;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	


	background-color: #444;
	color: #EEE;
}

legend {
	padding: 0.2em 0.5em;
	border:1px solid green;
	font-size:110%;
	text-align:right;
	background-color: #444;
 }

#instructions {
	background-color: #606060;
	color: #BBB;
}

#user_panel {
}

#target_phone {
	padding-left: 2em;

}

#sms_msg {
	width: 200px;
	height: 50px;
}

#send {
	float: right;
	display: none;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #d0ffd0;
	font-size: 14px;
	background: #757070;
	padding: 5px 10px 5px 10px;
	text-decoration: none;

}

#uscode {
	position:relative;
	left: 1.5em;
	color: black;
  	font-size: 80%;
}